/*Déclaration de variables css*/
:root{
    --primary-color:#8261ee;
    --secondary-color:#ff589e;
    --link-color:#954e6b;
}


/* Styles générales*/

html{
    font-size:10px;
    font-family: Roboto,Georgia,Verdana, Geneva, Tahoma, sans-serif;
    color:#18000ac4;
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
}

body{
    font-size:1.6rem;
    overflow-x:hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,h4,
h5,
h6{
    font-family:Raleway,Georgia,Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-weight: 900;
    font-size:2.5rem;
}

@media only screen and (min-width:501px){
    h1{
        font-size:3.2rem !important;
    }
}

h2{
    font-weight: 800;
    font-size:2.8rem;
}

h3{
    font-weight: 700;
    font-size:2rem;
}

h4{
    font-weight: 700;
    font-size:1.8rem;
}

h5{
    font-size:1.5rem;
}

p{
    font-family:Roboto;
    line-height:1.4;
}

ul,li{
    list-style-type: none;
}

ul{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
    color:var(--link-color);
    font-weight:500;
}

a:hover{
    color:#d44d86;
}

.btn-link{
    padding-top:15px;
    padding-bottom: 15px;
    min-width:200px;
    border-radius: 25px;
    background-color: antiquewhite;
    display:inline-block;
    margin-top:20px;
    text-align: center;
    margin-bottom:20px;
}

/*
    styles de la page
*/

/* | Header */

.header{
    position:fixed;
    top:20px;
    left:0;
    right:0;
    z-index:1;
}

.header .header-icon{
    width:30px;
    height:30px;
    background-image: url(../images/bars.png);
    background-position:6.5px 6.5px;
    background-size:17px 17px;
    background-repeat: no-repeat;
    margin-right:12px;
    cursor:pointer;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:80px;
    border-radius:50px;
    box-shadow:1px 1px 3px #18000a24,
               -1px -1px 3px #18000a24;
    background-color:#fff;
    width:100%;
    margin:0;
}

@media only screen and (min-width:501px) and (max-width:990px){
    .header .header-container{
        width:85%;
    }
}

.header .header-navbar{
    position:absolute;
    right:-100%;
    opacity:0;
    top:90px;
    width:200px;
    background:#fff;
    padding:15px 0 15px 20px;
    border-radius:25px;
    box-shadow:30px 30px 100px rgba(0,0,0,.2);
    transition:.4s;
}

.header-navbar.is-open{
    opacity:1;
    right:40px;
}



.header .header-navbar ul li{
    margin:20px 0px;
}

.header .header-navbar ul li a{
    padding:5px;
    color:#18000ac4;
    transition:.3s;
}

.header .header-navbar ul li a.is-active{
    color:var(--secondary-color);
}

.header .header-navbar ul li a:hover{
    color:var(--secondary-color);
}

@media only screen and (min-width:992px){
    .header .header-navbar{
        position:static;
        opacity:1;
        background:transparent;
        width:auto;
        box-shadow: none;
        height:auto;
    }
    .header .header-navbar ul{
        display:flex;
    }

    .header .header-navbar ul li{
        margin:0 8px;
    }
    
    .header .header-navbar ul li a{
        padding:5px;
        color:#18000ac4;
    }

    .header .bars{
        display:none;
    }
}




/*Main*/

/* Bannière*/

.banner-area {
    height:100vh;
    background-image:url(./../images/banner-bg1.png);
    background-size: cover;
    background-position:bottom left;
    background-repeat: no-repeat;
    color:#f1eff8;
    width:100%;
}

@media only screen and (max-width:600px){
    .banner-area .banner-content p,
    .banner-area .banner-content h1{
       margin:25px 10px !important;
    }
}

.banner-area .banner-content{
    width:750px;
    text-align: center;
}

.banner-area .banner-content .banner-button{
    background-color: #c4336f;
    color:inherit
}

.banner-area .banner-content p{
    line-height:1.5
}

/*Qualities sections*/

.qualities{
    margin-top:-150px;
}

@media only screen and (min-width:1200px){
    .card{
        margin-bottom: 20px;
    }
}

.qualities .qualities-article:hover .qualities-head{
    background-color: #fea6cb;
}

.qualities .qualities-article  .qualities-head{
    width:120px;
    height:120px;
    margin:auto;
    border-radius:50%;
    background-color: #a78fee;
}

.qualities .qualities-article  .qualities-content{
    text-align:center
}

.qualities .qualities-container,
.temoignages .temoignages-articles,
.tarifs .tarification,
.blogs .blogs-entries
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
}

/* Description*/

.description .description-child{
    margin:35px 15px;
}

.description .description-child .description-illustration{
    margin:auto;
}

.description .description-child .description-content{
    margin-top:30px;
}

@media only screen and (min-width:501px){
    .description .description-child{
        margin-left:auto;
        margin-right:auto;
        width:500px;
    }
    
    .description .description-child .description-illustration{
        width:350px;
    }

    .description .description-child .description-content{
        width:500px;
    }
}

@media only screen and (min-width:768px){
    .description .description-child{
        display:flex;
        justify-content: space-between;
        padding:100px 0;
        width:auto;
    }

    .description .description-child.description-help .description-content{
        order:1;
    }

    .description .description-child.description-help .description-illustration{
        order:2;
    }
}


.description .description-child .description-illustration img{
    width:100%
}

.description .description-child .description-content h3{
   font-size:2.5rem;
   font-weight:600
}

.description .separator,footer .separator{
    width:100%;
    height:.8px;
    background-color:#18000a4b;
}

/*Work proccess*/

.work-proccess{
    width:100%;
    background-image:url(../images/bg-work-process-small.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    padding:40px 0;
}

.work-proccess .work-head{
    color:#f1eff8;
}

@media only screen and (min-width:1000px){
    .work-proccess{
        background-image:url(../images/bg-work-process.png);
    }
}

.work-proccess .some-proccess > article {
    text-align:center;
    width:150px;
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
    border-radius:25px;
    padding-top:12px;
    padding-bottom: 10px;
    box-shadow: 8px 8px #8261ee;
    background-color: #f1eff8;
}

@media only screen and (min-width:360px){
    .work-proccess .some-proccess{
        display:flex;
        justify-content:space-evenly;
        padding:30px 0;
        flex-wrap:wrap
    }

    .work-proccess .some-proccess > article {
        margin-right:12px;
        margin-left:0;
    }
}

.work-proccess .some-proccess > article :last-child {
    margin-right:0
}

.work-proccess .some-proccess > article p {
    margin-top:0;
    font-size:13px;
}

.work-proccess .some-proccess > article h4 {
    margin-bottom:5px;
    font-size:15px
}


/*Témoignages*/

.temoignages{
    padding-top:50px;
}

.temoignages .temoignages-head{
    margin-bottom:35px;
}

.temoignages .temoignages-head h2{
    margin-bottom:7px;
}

.temoignages .temoignages-head h2 + p{
    margin-top:0;
}

.temoignages .temoignages-articles{
    padding:35px 0;
}

.temoignages .temoignages-articles .testimonials{
    padding-bottom:75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
    transition:.3s;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, .3);
}

.temoignages .temoignages-articles .testimonials:hover{
    transform:scale(1.1);
}

.temoignages .temoignages-articles .testimonials .quote-symbol{
    width:60px;
    height:80px;
    margin:0;
    margin-left: 20px;
    background-image: url(./../images/quotes-left.svg);
    background-repeat: no-repeat;
}

.temoignages .temoignages-articles .testimonials blockquote{
    margin-left:8px;
    margin-right:8px;
    margin-bottom:20px;
    font-family:Raleway;
    color:#17000a94;
}

.temoignages .temoignages-articles .testimonials .testimonial-author{
    text-align:center;
    position:absolute;
    left:0;
    right:0;
    bottom:25px;
}

.temoignages .temoignages-articles .testimonials .testimonial-author .author-post{
    color:var(--primary-color);
    font-size:1.5rem;
    font-weight:600;
}

.temoignages .temoignages-articles .testimonials .testimonial-author h4{
    margin-bottom:8px;
}

@media only screen and (min-width:501px){
    .temoignages .temoignages-articles .testimonials blockquote{
        margin-left:15px;
        margin-right:15px;
        margin-bottom:23px;
        font-size:1.7rem;
    }
}

/*Tarifs*/

.tarifs .tarification,
.blogs .blogs-entries{
    width:100%;
    padding:50px 0;
}

.tarifs .tarification > article {
    text-align:center;
    border-radius: 15px;
    width:100%;
    box-shadow: 2px 3px 45px rgba(0, 0, 0, .3);
}

.tarifs .tarification > article .features-list ul{
    margin:20px 0;
	list-style-position: inside;
	list-style-image: url(../images/success-icon.png);
}

@media only screen and (min-width:400px){
    .tarifs .tarification > article .features-list ul{
        width:55%;
        text-align:left;
        margin-left:auto;
        margin-right:auto;
    }
}

.tarifs .tarification > article .features-list ul li{
   line-height: 2.2em;
   font-size:1.5rem
}

.tarifs .tarification > article .features-list ul li.is-not-active{
    list-style-image: url(../images/fail-icon.png);
 }

.tarifs .tarification > article .price-per-month{
    font-size:2rem;
    font-family:Raleway;
    margin:15px 5px;
    padding:15px 10px;
    border-radius:15px;
    color:#f1eff8;
    width:auto;
    background-color: #4014d1;
}

.tarifs .tarification > article.plan-premium .price-per-month{
    background-color:#ca0d5b;
    color:#fff
}

.tarifs .tarification > article .price-per-month  div:first-child{
    font-size:2.5rem;
    font-weight:1000;
    font-family: Roboto;
 }

.tarifs .tarification > article .price-per-month  div:last-child{
   margin-top:10px;
   font-size:1.4rem
}

.tarifs .tarifs-head p{
    margin-top:0;
}

/* Stats */

.stats{
    padding:50px 15px;
    background-color: #290e82;
    color:#f1eff8;
    display:flex;
    justify-content:center;
    align-items:center;
}

.stats .stats-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding-top:45px;
}

.stats .stats-container .stats-info{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    position:relative
}

@media only screen and (min-width:900px){
    .stats .stats-container .stats-info::after{
        content:'';
        position:absolute;
        display:block;
        width:75px;
        height:50px;
        background-image:url(./../images/stats-separator.png);
        background-repeat:no-repeat;
        background-position: center;
        right:-47px;
        top:50%;
        transform:translateY(-50%)
    }

    .stats .stats-container .stats-info:last-child::after{
        display:none;
    }
}

@media only screen and (min-width:1200px){
    .stats .stats-container .stats-info::after{
        right:-80px;
    }
}

.stats .stats-container .stats-info{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:45px;
    transition:.2s;
}

.stats .stats-container .stats-info .stats-number{
    font-size:3.5rem;
    font-weight:900;
    font-family:raleway;
    margin-bottom:10px;
}

.stats .stats-container .stats-info .stats-label{
    font-weight:400;
}

@media only screen and (min-width:501px){
    .stats .stats-container .stats-info{
        width:200px;
    }
}

/* Contact */

.contact,.tarifs,.blogs{
    padding: 45px 0 ;
}

.contact .contact-elements .form {
    margin-top:35px;
}

@media only screen and (min-width:701px) and (max-width:950px){
    .contact .contact-elements .form {
        padding-right:15px;
    }
}

@media only screen and (min-width:560px) and (max-width:700px),only screen and (min-width:1200px){
    .contact .contact-elements .form  .inputs {
        display:flex;
        width:100%;
    }
    .contact .contact-elements .form  .inputs .input {
        flex:1;
    }

    .contact .contact-elements .form  .inputs .input:last-child {
       margin-left:10px;
    }
}

.contact  .contact-elements .address {
    width:100%;
}

.contact .contact-elements .form .inputs input{
    padding:10px 8px;
    width:100%;
    display: block;
    border-radius: 20px;
    outline:0;
    border:1px solid  #18000ac4;
    margin:30px 0;
    color:#340217a1
}

.contact .contact-elements .form .inputs input::placeholder{
    color:#340217a1
}

.contact .contact-elements .form .textarea textarea{
    width:100%;
    height:170px;
    border-radius: 20px;
    margin-bottom:30px;
    padding:8px;
    resize: none;
    color:#340217a1
}

.contact .contact-elements .form .textarea textarea:focus{
    outline:0;
}

.contact .form .submit-button .button{
    cursor:pointer;
    border-color: #f985b5;border-width:0.5px;
    outline:0;
    min-width:150px;
    color:inherit
}

.contact .form .submit-button .button,
.contact .form .submit-button {
    margin-top:0;
}

@media only screen and (min-width:700px){

    .contact .contact-elements{
        display: flex;
        justify-content:space-around;
    }

    .contact .contact-elements .form {
        flex:1;
    }

    .contact .contact-elements .address {
        flex:1;
        margin-top:40px;
    }
}

@media only screen and (min-width:1200px){

    .contact .contact-elements .form {
        max-width:500px;
    }

    .contact .contact-elements .address {
        max-width:300px;
    }
}

/*Blogs*/

.blogs .blogs-entries{
    width:100%;
}

.blogs,.blogs .blogs-entries{
    padding-bottom:0;
}

.blogs .blogs-entries .blog-article{
    padding:0;
    width:100%;
    position:relative;
    box-shadow:none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow:hidden
}

.blogs .blogs-entries .blog-article .button-blog{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.blogs .blogs-entries .blog-article .blog-head img{
    max-width:100%;
    object-fit: cover;
    width:100%;
}

.blogs .blogs-entries .blog-article .blog-content{
    padding:0 10px;
}

.blogs .blogs-entries .blog-article .blog-content p{
    color:#17000a94;
    font-size:1.5rem;
    min-height:200px;
}

/*Footer*/

footer{
    background:#ebe6fb;
    text-align: center;
    padding:45px 0 25px 0;
}

footer a.author-website{
    color:#1b0076;
    font-weight:900;
    font-family:Raleway;
}

footer .footer-info{
    margin:25px 0 0;
}

footer .follow{
    margin:0 0 25px;
}

footer .follow address {
    width:auto;
    margin:20px 15px 0;
    flex-wrap: wrap;
}

footer .follow address a{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:0 25px;
    background:#b6a0fc;
    transition:.3s;
}

@media only screen and (max-width:425px){
    footer .follow address a{
        margin-bottom:20px;
    }
}

footer .follow address a:hover{
    background:#fca6ca;
}

@media only screen and (min-width:501px){
    footer .follow address {
        width:500px;
        margin:30px auto 0;
    }
}




/*Utilitaires*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
    width:auto
}

@media only screen and (min-width:501px) and (max-width:767px){
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width:auto;
    }
}

@media only screen and (min-width:768px){
    .container {
        max-width:900px;
        width:98% 
    }
}

@media only screen and (min-width:1200px){
    .container {
        max-width:1140px;
        width:100% 
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items:center
}



.section-head
{
    width:auto;
    margin:15px auto;
    text-align: center;
}

@media only screen and (min-width:550px){
    .section-head{
        width:500px;
    }
}

.card{
    max-width:300px;
    width:auto;
    border-radius:25px;
    background:#fff;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, .3);
    padding:20px 5px;
    margin:20px 17px 50px 17px;
    cursor:pointer;
}

@media only screen and (min-width:501px){
    .card{
        max-width:320px;
    }
}


@media only screen and (min-width:690px) and (max-width:767px){
    .card:nth-child(2) {
        margin-right:0;
    }
    .card:first-child{
        margin-left:0;
    }
}


/*

Notes générales

    Breakpoints 

        styles normales pour les petits écrans

        min-width:501px 

        min-width:768px

        min-width:992px

        min-width:1200px;

        min-width:1550px

*/


